/Data-test-001.zip
/dev.txt
/generate_fas_filters2.py
/phase2-20250613T074507Z-1-002.zip
/resnet.ipynb
/salidas_filtros
/salidas_filtros2
/train_ddp.py
/transformer.ipynb
/src/Data-*/**
/src/Data-test/*
*.ipynb
*.zip
*.pyc
*.pth
*.csv
*.sh
phase*.txt
src/SUBMISSION/dataset/
